@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root {
    --black: #1F1F1F;
    --grey: #545454;
    --white: #FFFFFF;
    --abumuda: #F1F1F1;
}

body {
    padding: 0 100px 0;
    position: relative;
}



/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 100px;
    background-color: var(--white);
    box-shadow: 0 1px 5px 1px rgb(0, 0, 0, 14%);
}

nav .logo {
    font-size: 1.3em;
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-list ul li a {
    text-decoration: none;
    color: var(--grey);
    font-size: 1em;
    font-weight: 600;
}

.nav-list ul li a:hover {
    color: var(--black);
}

.sign-up {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 35px;
    border-radius: 7px;
    border: transparent;
    font-size: .9em;
    cursor: pointer;
}


/* hero sec */
.hero-section {
    padding: 100px 0 50px;
    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    height: 100vh;
}

.hero-content1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-content1 h1 {
    font-size: 6em;
    font-weight: 500;
}

.hero-content1 p {
    color: var(--grey);
    font-size: 1.3em;
}

.hero-image1 {
    position: relative;
}

.hero-image1 img {
    width: 60%;
    position: absolute;
    height: 100%;
    right: 0;
    object-fit: cover;
}


.hero-image2 img {
    width: 90%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
}

.hero-image2 {
    position: relative;
}

.hero-image2 .kotak-garis {
    width: 150px;
    aspect-ratio: 1/1;
    border: 3px solid black;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: -1;
}


.hero-content2 button {
    background-color: var(--black);
    padding: 24px 70px;
    border: transparent;
    border-radius: 7px;
    color: var(--white);
    font-size: 1em;
    cursor: pointer;
}

.hero-content2 {
    position: relative;
}

.hero-content2 .record-work {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 25%;
    color: var(--grey);
}


.record-work h2 {
    font-size: 2.7em;
    font-weight: 400;
    color: var(--grey);
}


/* services */

.services {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 70px;
    padding: 50px 0 50px;
}

.services .title {
    display: flex;
    gap: 20px;
    font-weight: 600;
}


.services-item {
    display: flex;
}


.services-item .s1,
.s2,
.s3 {
    display: flex;
    gap: 30px;
}

.services-item h4 {
    font-weight: 600;
    font-size: 1.5em;
}

.services-item p {
    color: var(--grey);
    font-size: 1.3em;
}

.services-item .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-item .icon i {
    font-size: 50px;
}

/* sec 4 */
.section4 {
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 70px;
    padding: 50px 0 50px;
}

.section4 .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr;
}

.section4 i {
    font-size: 35px;
    cursor: pointer;
    color: var(--black);
}

.section4 .content h1 {
    font-weight: 600;
    color: var(--black);
    font-size: 2.5em;
}

.section4 .content p {
    color: var(--grey);
}

.section4 .content h5 {
    font-weight: 600;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

.section4 img {
    max-width: 100%;
    object-fit: cover;
}

.section4 .content button {
    width: 35%;
    border: transparent;
    border-radius: 4px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}


/* proses section */
.proses-section {
    display: grid;
    grid-template-columns: 1fr 45%;
    gap: 70px;
    padding: 50px 0 50px;
}

.proses-section .proses-content {
    display: grid;
    grid-template-rows: 20% 1fr;
}

.proses-content .proses-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.proses-list .pj1,
.pj2,
.pj3 {
    display: flex;
    gap: 32px;

}

.pj1-text,
.pj2-text,
.pj3-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proses-content h1 {
    font-weight: 600;
    color: var(--black);
    font-size: 2.5em;
}

.proses-list h4 {
    font-weight: 700;
    font-size: 1.5em;
}

.proses-list p {
    color: var(--grey);
}

.proses-section i {
    font-size: 50px;
}

/* testi sec */

.testimoni-section {
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 70px;
    padding: 50px 0 100px;
    position: relative;
}

.testimoni-section h1 {
    font-weight: 600;
    color: var(--black);
    font-size: 3em;
}

.testimoni-section .testi-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 90%;
    bottom: 0;
    right: 0;
    height: 70%;
    color: var(--white);
}

.testi-item img {
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
}

.item1 {
    border: 25px solid var(--white);
}

.item1,
.item2 {
    display: grid;
    grid-template-rows: .5fr 1fr 1fr;
    gap: 20px;
    background-color: var(--black);
    padding: 40px;
}

.item1 p,
.item2 p {
    font-weight: 500;
    font-size: 1.3em;
    line-height: 1.6em;
}

.costumer-profil {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item1 i,
.item2 i {
    font-size: 60px;
}

.name-location h5 {
    font-size: 1.2em;
}

.name-location span {
    color: var(--grey);
    font-weight: 500;
}

.name-location {
    display: grid;
    row-gap: 10px;
}

.arrow {
    display: flex;
    color: var(--black);
    font-size: 50px;
    gap: 10px;
    position: absolute;
    left: 0;
    bottom: 25px;
}

.arrow i {
    background-color: var(--grey);
    border-radius: 7px;
    background-color: var(--abumuda);
    padding: 0 5px;
    cursor: pointer;
}


/* news letter sec */
.news-letter {
    display: grid;
    grid-template-rows: 2fr 2fr 1.2fr;
    row-gap: 50px;
    width: 50%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 50px 0 400px;
}

.news-letter h1 {
    font-weight: 600;
    font-size: 2.5em;
}

.news-letter p {
    color: var(--grey);
    font-weight: 500;
}

.subs {
    position: relative;
}

.subs i {
    position: absolute;
    left: 15px;
    /* Ikon di sebelah kiri input */
    bottom: 50%;
    transform: translateY(50%);
    /* Menyelaraskan ikon di tengah vertikal */
    font-size: 20px;
    color: var(--grey);
}

.subs input {
    width: 100%;
    padding: 20px 50px;
    /* Sesuaikan padding kiri untuk ikon */
    padding-left: 50px;
    /* Tambahkan ruang untuk ikon */
    padding-right: 130px;
    /* Tambahkan ruang untuk tombol */
    border: transparent;
    box-shadow: 0 -10px 100px 0 rgb(0, 0, 0, 14%);
    border-radius: 4px;
    font-weight: 500;
    color: var(--grey);
}

.subs button {
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 12px 50px;
    border: transparent;
    background-color: var(--black);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
}


/* footer */
footer {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 2fr;
    gap: 24px;
    padding: 50px 100px 120px;
    background-color: var(--black);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    color: var(--white);
}

footer p {
    color: #D1D1D1;
    transition: .4s ease-in-out;
}

footer p:hover {
    color: var(--white);
    cursor: pointer;
}

footer .vivadecor {
    display: grid;
    grid-template-rows: 3.5fr 4fr auto;
    gap: 30px;
}

.our-services1,
.our-services2,
.our-services3 {
    padding-left: 100px;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr;
}

.medsos {
    display: flex;
    gap: 24px;
}

.medsos i {
    cursor: pointer;
    transition: .4s ease-in-out;
}

.medsos i:hover {
    color: blue;
}
