@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root {
    --black: #1F1F1F;
    --grey: #545454;
    --white: #FFFFFF;
    --abumuda: #F1F1F1;
}

body {
    margin: 0 5vw 0;
    display: grid;
    gap: 50px;
    overflow-x: hidden;
}

img {
    width: 100%;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 14%);
}

button {
    cursor: pointer;
    white-space: nowrap;
}

p {
    line-height: 2rem;
}


/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 5vw;
    background-color: var(--white);
    box-shadow: 0 1px 5px 1px rgb(0, 0, 0, 14%);
}

nav .logo {
    font-size: 1.3em;
}

nav i {
    display: none;
    font-size: 30px;
    cursor: pointer;
}



.nav-list ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav .close {
    display: none;
    color: var(--white);
}




.nav-list ul li a {
    text-decoration: none;
    color: var(--grey);
    font-size: 1em;
    font-weight: 600;
}

.nav-list ul li a:hover {
    color: var(--black);
}

.sign-up {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 35px;
    border-radius: 7px;
    border: transparent;
    font-size: .9em;
    cursor: pointer;
}


/* hero sec */
.hero-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 43vw));
    gap: 30px;
}

.hero-section img  {
    height: 300px;
    width: 90%;
}

.hero-image1 {
    display: grid;
    justify-items: end;
}

.hero-content1 {
    display: grid;
    gap: 16px;
}

.hero-content2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-content2 .record-work {
    display: flex;
    gap: 16px;
}

.hero-content2 .btn-start button {
    padding: 12px 24px;
    border-radius: 4px;
    border: transparent;
    color: var(--white);
    background-color: var(--black);
    width: 40%;
}






/* services sec */

.services {
    display: grid;
    gap: 30px;
}

.services .services-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.content {
    display: grid;
    gap: 4px;
}

.s1,
.s2,
.s3 {
    display: flex;
    gap: 16px;
}

.icon i {
    font-size: 30px;
}









/* section4 */
.section4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.section4 .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.section4 .content h5 {
    display: flex;
    justify-content: space-between;
}

.content button {
    padding: 12px 24px;
    border-radius: 4px;
    border: transparent;
    color: var(--white);
    background-color: var(--black);
    width: 40%;
}








/* proses sec */
.proses-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.proses-section .proses-content {
    display: grid;
    gap: 16px;
}

.pj1, .pj2, .pj3 {
    display: flex;
    gap: 16px;
}

.pj1-text, .pj2-text, .pj3-text {
    display: grid;
    gap: 4px;
}

.proses-content i {
    font-size: 30px;
}




/* news letter sec */
.news-letter {
    text-align: center;
    display: grid;
    gap: 30px;
}

.news-letter input {
    padding: 12px ;
    border: 1px solid var(--abumuda);
}

.news-letter button {
    padding: 12px 24px;
    border-radius: 4px;
    border: transparent;
    color: var(--white);
    background-color: var(--black);
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    background-color: var(--black);
    color: var(--abumuda);
    padding: 50px 5vw 0;
    margin-left: -5vw;
    margin-right: -5vw;
    width: 100vw;
}

.footer p {
    color: var(--abumuda);
}

.footer .medsos {
    display: flex;
    gap: 16px;
}

.footer .copyright {
    padding: 16px 0;
    background-color: var(--black);
    margin-left: -5vw;
    margin-right: -5vw;
    width: 100vw;
    color: rgb(210, 210, 210);
    text-align: center;
}


.nav-mobile-version {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    background: var(--black);
    color: var(--abumuda);
}






/* responsive design */
@media (max-width:768px) {

    .hero-section,
    .services .services-item,
    .section4,
    .proses-section {
        grid-template-columns: 1fr;
    }

    .sign-up {
        display: none;
    }

    .hero-section img {
        width: 100%;
    }

    nav .logo {
        font-size: .9rem;
    }

    nav .bi-list {
        display: block;
        cursor: pointer;
    }
}







@media (max-width:830px) {
    .nav-list {
        display: none;
    }
}

@media (min-width:830px) {

    /* hero sec */
    .hero-section .hero-content2 {
        justify-content: space-around;
    }

    .hero-content1 h1 {
        font-size: 5.5rem;
        font-weight: 600;
    }

    .hero-content1 p {
        font-size: 1.2rem;
    }

    .hero-content2 button {
        width: 30%;
        height: 50px;
        font-size: 1rem;
    }
    .hero-content2 .record-work {
        gap: 100px;
    }

    .record-work h2 {
        font-size: 1.7em;
    }

    .record-work p {
        font-size: 1.2rem;
    }

    /* serv sec */
    .services-item {
        font-size: 1.2rem;
    }
    
    /* sec 4 */

    .section4 img {
        height: 400px;
    }

    .section4 p {
        font-size: 1.2rem;
    }

    .section4 h5 {
        font-size: 1.2rem;
    }

    /* proses sec */

    .proses-section p {
        font-size: 1.2rem;
    }

    .proses-section img {
        height: 400px;
    }

    /* news sec */ 
    .news-letter p {
        font-size: 1.2rem;
    }
}